body {
  background: url('./images/bbwmg-dickinson.jpg');
  background-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
.keys {
  text-align: center;
  margin: auto;
}
.key {
  transform: scale(1);
  border-radius: 20px;
  border: 3px solid Blue;
  width: 100px;
  height: 100px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  background: LightBlue;
  opacity: 0.75;
  text-transform: uppercase;
  box-shadow: 0, 0, 0, 10px;
}
.key:hover {
  background: LightYellow;
  border: 3px solid Yellow;
  box-shadow: 0, 0, 0, 10px;
}

.key kbd {
  clear: both;
  display: block;
  font-size: 3em;
  margin-top: 10px;
  padding-top: 20px;
  margin: auto;
}

.key.playing {
  transform: scale(1.1);
  transition: all 0.5s ease;
  border: 1px solid gold;
  box-shadow: 0, 0, 0, 10px;
  background: LightYellow;
}
